.inclusive-card {
  word-break: break-all;
  height: 100%;
}

.inclusive-card:hover,
.inclusive-card:focus,
.inclusive-card:focus-within {
  box-shadow: 0 0 0 .25rem;
}

.inclusive-card a:focus {
  text-decoration: underline;
}

.inclusive-card:focus-within a:focus {
  text-decoration: none;
}

.inclusive-cards__grid .item-list>ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}

.inclusive-cards__grid .item-list>ul>li {
  list-style-type: none;
  list-style-image: none;
}
